h1 {
  color: rgb(25, 207, 198);
  background-color: white;
}

h4 {
  color: rgb(25, 207, 198);
  background-color: white;
}

body {
  background: rgb(235, 232, 232);
}

.navbar {
  padding: 10px;
  background: red;
}
